.bar .fstDiv, .navigation{
    display: flex;
    justify-content: space-around;
    font-family: math;
    font-weight: lighter;
    font-size: 20px;
    height: 56px;
}
#a{
margin-left: 15%;
}

.bar .fa-bars{
    position: relative;
    right: 0;
    /* left: 97%; */
    font-size: 30px;
    display: none;
}
.secDiv{
    background-image: linear-gradient(to right, #e75ad6, #d88, #f9cf0bbf);
    height: 90vh;
}
#gm{
    background-image: url(img1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 8%; */
    padding-bottom: 10%;
}
#lm{
    opacity: 0.7;
    color: white;
    background-color: #da5d5dbf;
    margin-right:50%;
    margin-left: 8%;
    width: fit-content;
    padding: 22px 35px 29px 39px

    }

#lm p{
    font-size: 16px;
    font-family: sans-serif;
    color: #fff;
}
   #lm h1{
        font-size: 40px;
        font-family:Arial, Helvetica, sans-serif;
    }

/* 
#Container{
    display: flex;
    justify-content: space-around;
    margin-left:40px;
    font-family:Arial, Helvetica, sans-serif;


}
 #b4{
    background-image: linear-gradient(to right, #e75ad6, #d88, #f9cf0bbf);
} 

img{
    border-radius: 0% 20% 0% 0%;
}

.bgg h3{
    text-align: center;
    margin: 14px 0;
}
.bgg p{
    font-size: 14px;
    text-align: center;
}


.button{
    padding-bottom: 11vh;
    text-align: center;
}
#bt{
    padding: 14px 33px;
    border: none;
    width: 175px;
    font-size: 20px;
    border-radius: 34px;
    background-color: #ffffff82;
    font-weight: bold;
}
.bgg{
    width: 228px;
    background-color: white;
    border-radius: 2px 45px;
    padding: 16px 6px 0px 16px;
}
.bgg img{
 width: 217px;
 height: 200px;
} */


.icon i{
    margin-top: 21px;
    margin-left: 12px;
    font-size: 16px;
    font-weight: 600;
}
.fa-phone{
    border: 2px solid black;
    border-radius: 50%;
    padding: 3px;

}
#ic{
    font-size: 18px;
}

.firstdiv, #b4{
    box-shadow: 0px 1px 8px 4px grey;
    height: 100vh;
}
a{
    color: inherit;
    text-decoration: none;
}


@media screen  and (max-width : 500px){
    .bar .fstDiv, .navigation{
        display: none;
    }

    .bar .fa-bars{
        display: block;
        height: ;
    }

    .bar .fa-bars:hover .fstDiv{
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: #fff !important;
        z-index: 99;
        /* right: 50%; */
    }
}